* {
    background-color: bisque;
    
}

h1 {
    color: cyan;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 5%;
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 2em;
    max-width: 97%;
}
h3 {
    color: cyan;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.list {
    list-style-type: decimal;
    margin: 4em;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    max-width: 97%;
}
.list1 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 2em;
    max-width: 97%;
}

.list li {
    margin-bottom: 10px;
}